.container {
  height: 100%;
  width: 100%;
  padding: 20px 35px;
  border-radius: 25px;
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

  @media screen and (min-width: 768px) {
    width: calc(50% - 13px);
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    height: calc(50% - 13px);
  }
}