.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.userIcon {
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
}
.userIcon>img {
  width: 65px;
  height: 65px;
}
.title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #4D4D4D;
}
.form {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 20px;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submitBtn {
  width: 100%;
  height: 53px;
  margin-bottom: 18px;
  border: none;
  border-radius: 27px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;
  color: white;
  background: rgb(95,65,186);
  background-position: -10000% 20%;
  outline: none;
  transition: 0.3s;
}
.submitBtn:hover {
  background-color: #351c80;
  cursor: pointer;
}
.switchViewBtn {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  color: #000;
}
.switchViewBtn:hover {
  color: #555;
  cursor: pointer
}

@media screen
  and (min-width: 800px) {
    .buttons {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .submitBtn {
      margin: 0;
      width: 60%;
    }
    .switchViewBtn {
      margin: 0;
      width: 35%;
      height: 53px;
      border: 1px solid #000;
      border-radius: 27px;
      font-size: 25px;
    }
    .switchViewBtn:hover {
      border-color:#555;
    }
  }

@media screen 
  and (orientation: landscape) {
  .wrapper {
    padding: 5% 0;
  }
  .container {
    width: 80%;
  }
}