@import '../../../../../scss/variables';

.container {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid gainsboro;

  &:last-child {
    border-bottom: none;
  }
}
.head {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.primaryIconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 16px;
}
.name {
  padding-right: 6px;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}
.collapseIcon, .moreIcon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #A8A8A8;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.collapseIcon:hover, .moreIcon:hover {
  color: $grayDark;
}

.moreIcon {
  position: relative;
}

.content {
  padding: 0 26px 0 36px;
}
.description {
  font-size: 13px;
  font-weight: 300;
  color: #A8A8A8;
  padding-bottom: 6px;
}
.details {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  /* justify-content: space-between; */
}
.details>* {
  margin-right: 4%;
}

.deadlineAndCategory {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  flex-grow: 1;
  /* width: 350px; */
  /* width: 50%; */
  text-align: center;
  /* flex-grow: 0.75; */
  margin-left: 10px;
}
.deadlineAndCategory>* {
  margin-right: 20px;
  display: flex; 
  align-items: center;
  white-space: nowrap;
}


@media screen
  and (min-width: 400px) {
    .name {
      font-size: 20px;
    }
    .description, .details {
      font-size: 15px;
    }
  }

@media screen
  and (min-width: 700px) {
    .name {
      font-size: 24px;
      width: 55%;
      flex-grow: unset;
    }
    .description, .details {
      font-size: 15px;
    }
    .description {
      width: 75%;
    }
  }

@media screen 
  and (min-width: 1000px){
    .name {
      font-size: 26px;
    }
    .description, .details, .deadlineAndCategory {
      font-size: 16px;
    }
    .collapseIcon {
      // font-size: 28px;
    }
    .primaryIconContainer {
      margin-right: 26px;
    }
    .content {
      padding-left: 50px;
    }
    .collapseIcon {
      margin-left: 10px;
    }
  }


