.container {
  background-color: white;
  width: 90%;
  height: 100%;
  padding: 20px 35px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.buttonsContainer {
  display: flex;
  margin-top: 30px;
}
.addTaskButton {
  padding: 8px 16px;
  background-color: #5F41BA;
  border: none;
  border-radius: 15px;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.addTaskButton>span {
  margin-right: 5px;
}
.addTaskButton:hover {
  background-color: #351c80;
}

@media screen 
  and (min-width: 1000px){
    .container {
      padding: 40px 70px;
    }
  }
