.mobileMenu {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 1000;
  transition: 0.5s;
  background-color: #5f41ba;
}
.mobileMenu.active {
  top: 0;
}
.mobileCloseIcon {
  position: absolute;
  top: 30px;
  right: 5%;
  transition: 0.3s;
  font-size: 20px;
  color: white;
}

.mobileCloseIcon:hover {
  color: #ddd;
}

.mobileMenu>ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none; 
}
.mobileMenu>ul>li {
  width: 100%;
  margin: 5px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: #5f41b8;
}
.mobileMenu>ul>li>a {
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f9f9f9;
  width: 100%;
  height: 100%;
  text-align: center;
}
.mobileMenu>ul>li:hover {
  background-color: #351c80;
}
.mobileMenu>ul>li>.logoutBtn {
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f9f9f9;
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  border: none;
}