@import '../../../../../../scss/variables';

.container {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.icon {
  font-size: 26px;
  color: $gray;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $grayDark;
  }
}

.popup {
  position: absolute;
  width: 150px;
  top: 0px;
  right: 0px;
  padding: 10px 0;
  background-color: $primary;
  // background-color: #fff;
  background: linear-gradient(135deg, $primary, $primaryDark);
  background-origin: border-box;
  border-radius: 10px;
  animation: show 0.3s forwards;
  transform: scale(0);
  transform-origin: top right;
  color: $grayLight;
  
  .closeIcon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    cursor: pointer;
    transition: color .3s;
    
    &:hover {
      color: $gray;
    }
  }
  
  .list {
    width: 100%;
    // padding: 10px 0;
    list-style-type: none;
    
    .element {
      padding: 10px 0;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transition: color .3s;
      text-transform: uppercase;
      
      &:hover {
        color: $gray;
      }
    }
  }
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}