.navbar {
  /* height: 20vh; */
}
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 40px;
  font-family: Pacifico;
  /* flex-grow: 1; */
}
.logo>a {
  text-decoration: none;
  color: black;
}
.logo>a>span {
  color: #5f41ba
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu>li {
  height: 100%;
  margin-left: 40px;
}
.menu>li>a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  position: relative;
}
.menu>li>a:not(.signUpBtn)::after {
  transition: 0.3s;
  display: block;
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -5px;
  left: 50%;
  background-color:#351c80;
}
.menu>li>a:not(.signUpBtn):hover::after {
  width: 100%;
  left: 0;
}

.menu>li>.signUpBtn {
  transition: 0.3s;
  padding: 10px 32px;
  border-radius: 25px;
  background-color: #5f41ba;
  color: white;
}
.menu>li>.signUpBtn:hover {
  background-color: #351c80;
}

.mobileOpenIcon {
  display: none;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 30px 5%;
  }
  .logo {
    font-size: 25px;
  }
  .menu {
    display: none;
  }
  .mobileOpenIcon {
    display: block;
    font-size: 20px;
  }

  .mobileMenu.active {
    top: 0;
  }

}